@import "../../scss/colors.scss";

.promo {
    padding-top: 203px;
    min-height: 850px;
    background: url('../img/promo/promo-bg.webp') center no-repeat;
    &__title {
        font-family: Lato, serif;
        max-width: 780px;
        margin-bottom: 80px;
        font-size: 48px;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
        color: #000;
        &--color {
            color: #3E9CDC;
        }
    }
    &__descr {
        font-family: Lato, serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 10px;
    }
    &__list {
        margin-bottom: 80px;
    }
    &__list-item {
        font-family: Lato, serif;
        position: relative;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 26px;
        &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 1.5px;
            background-color: #000;
            top: 10px;
            left: 15px;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__button {
        width: 184px;
        height: 43px;
        font-size: 13px;
    }
}