@import "../../scss/colors";

.section-title {
  font-family: Montserrat, serif;
  font-size: 102px;
  font-weight: 400;
  line-height: 104px;
  letter-spacing: 0.02em;
  text-align: left;
  color: $greyDark;
}
