$white: #fff;

$sky: #e0e5ec;

$lightSky: #f2f5f9;

$greyLight: #e1e1e1;

$greyDark: #2c2c2c;

$grey: #888;

$blue: #1b254e;

$greyBlue: #5e728c;

$brown: #765e46;

$red: #f00;

$lime: #19e300;

$black: #141414;